################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/All_About_Tech_Interview.slnx/FileContentIndex
/.vs/slnx.sqlite
